img {
	margin-top: 40px;
	margin-bottom: -60px;
	display: block;
	margin-left: auto;
	margin-right: auto;

	height: 200px;
	width: auto;
	max-width: 100px;

	border-radius: 5%;
}

p {
	text-align: center;
	margin-top: -25px;
}


.macaron {
  position: relative;
  top: -7em;
  right: -7em;
  
  height: 50px;
  width: 50px;
}

svg {
	width: 20px;
	height: 20px;
}

.toto {
	background: white;
}

form{
    width:50%; 
    margin:0 auto;
	margin-top: -1.5em;
}

.btn-primary-outline {
  background-color: transparent;
}