{% extends 'core/base.html' %}
{% load static %}

{% block head %}
	<title>Mentions Legales</title>
	<link rel="stylesheet" type="text/css" href="{% static 'core/legale_notrice.css' %}">
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<header class="masthead text-center d-flex">
    <div class="container my-auto">
      <div class="row">
      	<div class="col-lg-10 mx-auto">
      		<p><h1>Mentions légales</h1></p>
        </div>
      </div>
  </div>
</header>
<br>
<br>
<br>
<br>
<div class="container>">
	<div class="row">
		<lu class="col-lg-6 offset-lg-2">
		  <li><a href="https://github.com/Palombredun/Projet8-purbeurre">Github</a></li>
		  <li><a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/elements-basiques/marque-et-logo">Logo Pur Beurre</a></li>
		  <li><a href="https://unsplash.com/photos/YTbFHT9_IhY">Template</a></li>
		  <li><a href="https://unsplash.com/photos/YTbFHT9_IhY">Photo en fond de la page d'accueil</a></li>
		  <li><a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identit%C3%A9">Colette et Rémy</a></li>
		  <li><a href="https://thenounproject.com/term/carrot/29691/">carrote</a></li>
		  <li><a href="https://fontawesome.com/icons/sign-in-alt?style=solid">sign in</a></li>
		  <li><a href="https://fontawesome.com/icons/sign-out-alt?style=solid">sign out</a></li>
		  <li><a href="https://fontawesome.com/icons/user?style=regular">profile</a></li>
		</lu>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}