{% extends 'core/base.html' %}
{% load static %}

<head>
  {% block head %}
  <title>Inscription</title>
  <link rel="stylesheet" type="text/css" href="{% static 'signup/signup.css' %}">
  {% endblock %}
</head>

{% block content %}
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <h2>Créer un compte</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn btn-xl btn-primary" type="submit">S'inscrire</button>
  </form>
  
</div>
{% endblock %}